<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="server=192.168.1.116;database=carduolanew;uid=sa;pwd=carduola@123" providerName="System.Data.SqlClient"/>
    <!--<add name="conn" connectionString="server=localhost;database=Cardora;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <appSettings>
    <!--链接字符串是否加密-->
    <add key="ConStringEncrypt" value="True"/>
    <!--链接字符串:未加密-->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=MapChat;User ID=chat;password=chat"/>
    <!--<add key="ConnectionString" value="Data Source=.;Initial Catalog=AnHair;User ID=sa;Password=123;Max Pool Size=1000"/>-->
    <!--链接字符串:已加密-->
    <!--<add key="ConnectionString" value="DF98CF0B0BEE13ED9BDE4C105B2EF1EA2896B236946D580E0B67FA61C5A906869E5A948AC79F4602E33FCFBD461679D0921554FF547CB383" />-->

  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>

